
<form action = "/submission" method = "post">
    <label for="HighBP">Have you been diagnosed with High Blood Pressure? (Over 140/90)</label> <br>
    <input type="radio" id="HighBP" name="HighBP" value="1"> Yes<br>
    <input type="radio" id="HighBP" name="HighBP" value="0" checked> No
  <br>
  <br>
  

  <label for="HighChol">Have you been diagnosed with High Blood Cholestrol?</label> <br>
  <input type="radio" id="HighChol" name="HighChol" value="1"> Yes</input> <br>
  <input type="radio" id="HighChol" name="HighChol" value="0" checked> No</input> <br>
  <br>
   <br>
  <label for="CholCheck">Have you had a Cholestrol check in the last 5 years?</label>
  <input type="radio" id="CholCheck" name="CholCheck" value="1"> Yes </input> <br>
  <input type="radio" id="CholCheck" name="CholCheck" value="0" checked> No</input>
  <br>
  <br>
  
  <label for = "BMI">Enter your Body Mass Index (BMI) </label><br>
  <input type = "text" name = "BMI" id = "BMI" placeholder = "25" required></input><br>
  <br>

  <label for="Smoker">Have you smoked at least 100 cigarettes in your entire life? [Note: 5 packs = 100 cigarettes]</label> <br>
  <input type="radio" id="Smoker" name="Smoker" value="1"> Yes</input> <br>
  <input type="radio" id="Smoker" name="Smoker" value="0" checked> No</input> <br>
   <br>

  <label for="Stroke">Have you ever had a Stroke?</label> <br>
  <input type="radio" id="Stroke" name="Stroke" value="1"> Yes</input> <br>
  <input type="radio" id="Stroke" name="Stroke" value="0" checked> No</input> <br>
   <br>

  <label for="HeartDiseaseorAttack">Have you ever had a Heart Attack (Myocardial Infarction) or been diagnosed with Coronary Heart Disease (CHD)?</label> <br>
  <input type="radio" id="HeartDiseaseorAttack" name="HeartDiseaseorAttack" value="1"> Yes</input> <br>
  <input type="radio" id="HeartDiseaseorAttack" name="HeartDiseaseorAttack" value="0" checked> No</input> <br>
<br>

  <label for="PhysActivity">Have you undertaken Physical Activity such as gym, sports, running in the past 30 days? (excluding physical activity at the workplace)</label> <br>
  <input type="radio" id="PhysActivity" name="PhysActivity" value="1"> Yes</input> <br>
  <input type="radio" id="PhysActivity" name="PhysActivity" value="0" checked> No</input>
  <br>
  <br>

  <label for="Fruits">Do you consume fruits one or more times a day?</label> <br>
  <input type="radio" id="Fruits" name="Fruits" value="1"> Yes</input> <br>
  <input type="radio" id="Fruits" name="Fruits" value="0" checked> No</input>
  <br>
   <br>

  <label for="Veggies">Do you consume vegetables one or more times a day?</label> <br>
  <input type="radio" id="Veggies" name="Veggies" value="1"> Yes</input> <br>
  <input type="radio" id="Veggies" name="Veggies" value="0" checked> No</input>
   <br>
  <br>

  <label for="HvyAlcoholConsump">Do you consume alcohol regularly (adult men >=14 drinks per week and adult women>=7 drinks per week)</label> <br>
  <input type="radio" id="HvyAlcoholConsump" name="HvyAlcoholConsump" value="1"> Yes</input> <br>
  <input type="radio" id="HvyAlcoholConsump" name="HvyAlcoholConsump" value="0" checked> No</input> <br>

  <br>

  <label for="AnyHealthcare">Do you currently have any kind of health care coverage, including health insurance, prepaid plans such as HMO, etc.</label> <br>
  <input type="radio" id="AnyHealthcare" name="AnyHealthcare" value="1"> Yes</input> <br>
  <input type="radio" id="AnyHealthcare" name="AnyHealthcare" value="0" checked> No</input>

  <br>
   <br>
  <label for="NoDocbcCost">Was there a time in the past 12 months when you needed to see a doctor but could not because of cost? </label> <br>
  <input type="radio" id="NoDocbcCost" name="NoDocbcCost" value="1"> Yes</input> <br>
  <input type="radio" id="NoDocbcCost" name="NoDocbcCost" value="0" checked> No</input>

  <br>
   <br>

  <label for="GenHlth">Would you say your General Health is:</label> <br>
  <input type="radio" id="GenHlth" name="GenHlth" value="1"> Excellent</input> <br>
  <input type="radio" id="GenHlth" name="GenHlth" value="2"> Very Good</input> <br>
  <input type="radio" id="GenHlth" name="GenHlth" value="3" checked> Good</input> <br>
  <input type="radio" id="GenHlth" name="GenHlth" value="4"> Fair</input> <br>
  <input type="radio" id="GenHlth" name="GenHlth" value="5"> Poor</input> <br>

  <br>

  <label for="MentHlth">How many days of poor Mental Health have you had in the past 30 days? </label> <br>
  <input type = "text" name = "MentHlth" id = "MentHlth" placeholder = "5" required></input><br>
   <br>
  <label for="PhysHlth">How many days in the last 30 Days have you suffered a physical injury or illness? </label> <br>
  <input type = "text" name = "PhysHlth" id = "PhysHlth" placeholder = "0" required></input><br> <br>

  <label for="DiffWalk">Do you have serious difficulty walking or climbing the stairs? </label> <br>
  <input type="radio" id="DiffWalk" name="DiffWalk" value="1"> Yes</input> <br>
  <input type="radio" id="DiffWalk" name="DiffWalk" value="0" checked> No</input> <br>

  <br>
  <label for="Sex">Sex</label> <br>
  <input type="radio" id="Sex" name="Sex" value="1"> Male</input> <br>
  <input type="radio" id="Sex" name="Sex" value="0" checked> Female</input> <br>

  <br>

  <label for="Age">Select your Age Category:</label> <br>
  <input type="radio" id="Age" name="Age" value="1"> 18-24</input><br>
  <input type="radio" id="Age" name="Age" value="2"> 25-29</input><br>
  <input type="radio" id="Age" name="Age" value="3" checked> 30-34</input><br>
  <input type="radio" id="Age" name="Age" value="4"> 35-39</input><br>
  <input type="radio" id="Age" name="Age" value="5"> 40-44</input><br>
  <input type="radio" id="Age" name="Age" value="6"> 5-49</input><br>
  <input type="radio" id="Age" name="Age" value="7"> 50-54</input><br>
  <input type="radio" id="Age" name="Age" value="8"> 55-59</input><br>
  <input type="radio" id="Age" name="Age" value="9"> 60-64</input><br>
  <input type="radio" id="Age" name="Age" value="10"> 65-69</input><br>

  <input type="radio" id="Age" name="Age" value="11"> 70-74</input><br>
  <input type="radio" id="Age" name="Age" value="12"> 75-79</input><br>
  <input type="radio" id="Age" name="Age" value="13"> 80 and above</input><br>
  <input type="radio" id="Age" name="Age" value="14"> Don't Know</input><br>
<br>


  <label for="Education">What is the highest grade or year of school you completed?</label> <br>
  <input type="radio" id="Education" name="Education" value="1"> Never attended school or only kindergarten</input><br>
  <input type="radio" id="Education" name="Education" value="2"> Grades 1 - 8 (Elementary)</input><br>
  <input type="radio" id="Education" name="Education" value="3"> Grades 9 - 11 (Some high school)</input><br>
  <input type="radio" id="Education" name="Education" value="4" checked> Grade 12 or GED (High school graduate)</input><br>
  <input type="radio" id="Education" name="Education" value="5"> College 1 year to 3 years (Some college or technical school)</input><br>
  <input type="radio" id="Education" name="Education" value="6"> College 4 years or more (College graduate)</input><br>
  <input type="radio" id="Education" name="Education" value="9"> I Refuse to Answer</input><br>
   <br>

  <label for="Income">Is your annual household income from all sources?</label> <br>
  <input type="radio" id="Income" name="Income" value="1"> Less than $10,000</input><br>
  <input type="radio" id="Income" name="Income" value="2"> Less than $15,000 ($10,000 to less than $15,000)</input><br>
  <input type="radio" id="Income" name="Income" value="3" checked> Less than $20,000 ($15,000 to less than $20,000)</input><br>
  <input type="radio" id="Income" name="Income" value="4"> Less than $25,000 ($20,000 to less than $25,000)</input><br>
  <input type="radio" id="Income" name="Income" value="5"> Less than $35,000 ($25,000 to less than $35,000)</input><br>
  <input type="radio" id="Income" name="Income" value="6"> Less than $50,000 ($35,000 to less than $50,000)</input><br>
  <input type="radio" id="Income" name="Income" value="7"> Less than $75,000 ($50,000 to less than $75,000)</input><br>
  <input type="radio" id="Income" name="Income" value="8"> $75,000 or more</input><br>
  <input type="radio" id="Income" name="Income" value="77"> Do not know/Not sure</input><br>
  <input type="radio" id="Income" name="Income" value="99"> Refused</input><br>
<br>
   <br>

  <input type = "submit" class = "btn btn-success" value = "Submit"></input>

  

  

  

  



  
</form>